<%= image_tag(@user.image_url) %>
<h1><%= @user.name %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.nickname %></h1>
Repos you're following:
<ul>

<% @user.starred_repos.each do |repo| %>
  <li><%= repo.name %></li>
  <li>Owned by: <%= link_to repo.owner_name, repo.html_url %></li>
<% end %>

</ul>
Repos you own:
<ul>
  <% @user.owned.each do |repo| %>
    <li><%= link_to repo.name, repo.html_url %></li>
  <% end %>
</ul>

<ul>
Following:
<% @user.following.each do |follow| %>
  <li><%= image_tag follow.image_url, width: '50em' %>
  <%= link_to follow.name, follow.html_url %>
  <li> Number of Commits: <%= follow.commits %></li>
<%end %>

</ul>

Followers:
<ul>
  <% @user.followers.each do |follow| %>
    <li><%= image_tag follow.image_url, width: '50em' %><%= link_to follow.name, follow.html_url %></li>
    <li> Number of Commits: <%= follow.commits %></li>
  <% end %>
</ul>

Organizations:
<ul>
  <% @user.organizations.each do |org| %>
    <% require 'pry'; binding.pry %>
    <li><%= org.image %></li>
    <li><%= org.name %></li>
    <li><%= org.memebers %></li>
    <li><%= org.public_members %></li>
  <% end %>
</ul>
